html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 700px;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videos {
  position: relative;
  height: 600px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for ıe, edge, firefox  */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
